# Warm_up
### 1. Which 10 composers wrote the most songs in our dataset?
```SQL
SELECT composer, count(*)
FROM Track
GROUP BY composer
ORDER BY count(*) DESC
LIMIT 10;
```

### 2. Which tracks in the dataset are between 2500000 and 2400000 milliseconds long?
```SQL
SELECT name, milliseconds
FROM Track
WHERE milliseconds > 2500000
AND millisenconds < 2600000
ORDER BY milliseconds;
```

### 3. List albums written by either Iron Maiden or Amy Winehouse, return the Artist name followed by the Album title.
``` SQL 
SELECT Artist.name, Album.title 
FROM Album JOIN Artist
ON Artist.ArtistId = Album.ArtistId
WHERE name = ' Iron Maiden'
OR name = 'Amy Winehouse';
```
### 4. How many 'pop' songs have an 'MPEG audio file' type? ( FROM ProblemSet 3 - 9)
```SQL
SELECT count(*)
FROM Track JOIN Genre JOIN MediaType
WHERE MediaType.MediaTypeId = Track.MediaTypeId
AND Genre.GenreId = Track.GenreId
AND Genre.name = 'Pop'  
AND MediaType.name = 'MPEG audio file';
```  
[material](http://www.w3school.com.cn/sql/sql_join.asp)

### 5.  How many [unique] customers have purchased a Jazz track?
```SQL
SELECT count(Distinct Customer.CustomerId)
FROM Customer, Invoice, InvoiceLine, Track, Genre
WHERE Customer.CustomerId = Invoice.CustomerId
AND Invoice.InvoiceId = InvoiceLine.InvoiceId
AND InvoiceLine.TrackId = Track.TrackId
AND Track.GenreId = Genre.GenreId
AND Genre.Name = 'Jazz';
```
### 6. Which genre has the most songs of below average song length?
```SQL
SELECT Genre.name, count(*)
FROM Track
Join Genre
Join(
     SELECT avg(Track.Milliseconds) as average
     FROM Track) as subquery
WHERE Genre.GenreId = Track.GenreId
AND Track.Milliseconds < average
GROUP BY Genre.name
ORDER BY count(*) DESC
```

# Q1: Write a query that returns the 3 countries with the highest number of invoices

In [ ]:
##  Alright, now that you're warmed up let's get down to business!

##  In this problem set we'll pretend the Chinook database is the data for your own personal music shop!
##  We'll be marketing your shop and hosting Music Festival using answers we get from 
##  the data stored in your database.
##  Let's get started :)

##  First, you'd like to run a promotion targeting the 3 countries with the 
##  highest number of invoices.  

##  Write a query that returns the 3 countries with the highest number of invoices, along with the number ##  of invoices for these countries.


QUERY ='''
SELECT BillingCountry, COUNT(*)
FROM Invoice
GROUP BY BillingCountry
ORDER BY COUNT(*) DESC
LIMIT 3
'''

'''
---VISUAL GUIDE--- 
(The visual guides are meant to help show you how your queries are interacting with the database)

Before Query...

#################
#   Invoice     #              <----- FROM
################# 
| BillingCountry|  COUNT(*)   <----- SELECT
+===============+

After Query...

################################
#           Invoice            #   <----- RESULT!
################################  
| BillingCountry|   COUNT(*)   |  
+===============+==============+
'''

# Q2 :Build a query that returns the person who has the highest sum of all invoices

In [ ]:
##  The customer who has spent the most money will be declared your best customer.
##  They definitely deserve an email thanking them for their patronage :)  

##  Build a query that returns the person who has the highest sum of all invoices,
##  along with their email, first name, and last name.


QUERY ='''
SELECT Customer.Email,Customer.FirstName,Customer.LastName,sum(Invoice.Total)
FROM Customer,Invoice
WHERE Customer.CustomerId = Invoice.CustomerId
GROUP BY Customer.CustomerId
ORDER BY sum(Invoice.total) DESC
LIMIT 1
'''

'''
---VISUAL GUIDE---

Before Query...

###############         ####################   
#  Customer   #         #     Invoice      #  
###############         ####################   
|  CustomerId | = ON  = | CustomerId       |  <-----  FROM/JOIN
+=============+         +==================+  
|  FirstName  |         | Total            |  <-----  sum Total and limit
+=============+         +==================+          to highest sum
|  LastName   |    
+=============+    
|  Email      |               
+=============+

After Query...

###################################################   
#             CustomerInvoice                     #   <-----  RESULT!
###################################################   
|  Email  |  FirstName | LastName    |    Total   |
+=========+============+=============+============+

'''

# Q3: Use your query to return the email, first name, last name, and Genre of all Rock Music listeners!

In [ ]:
##  Rock Music Lives on!  After the success of your recent email campaign,  
##  you're interested in targeting your long standing Rock Music audience!
##  You'll need to collect a list of emails containing each of your Rock Music listeners.

##  Use your query to return the email, first name, last name, and Genre of all Rock Music listeners!
##  Return you list ordered alphabetically by email address starting with A.
##  Can you find a way to deal with duplicate email addresses so no one receives multiple emails?


QUERY ='''
SELECT Customer.Email,Customer.Firstname,Customer.LastName,Genre.Name
FROM Customer,Invoice,InvoiceLine,Track,Genre
WHERE Customer.CustomerId = Invoice.CustomerId
AND Invoice.InvoiceId = InvoiceLine.InvoiceId
AND InvoiceLine.TrackId = Track.TrackId
AND Track.GenreId = Genre.GenreId
AND Genre.Name = 'Rock'
GROUP BY Customer.Email
ORDER BY Customer.Email
'''

'''
---VISUAL GUIDE---

Before query...

##############     ###############     #################     ############      ###########
#  Customer  #     #  Invoice    #     #  InvoiceLine  #     #  Track   #      #  Genre  # 
##############     ###############     #################     ############      ###########
| CustomerId | --> | CustomerId  |     |  TrackId      | --> | TrackId  |      |  Name   |
+============+     +=============+     +===============+     +==========+      +=========+
|  Email     |     |  InvoiceId  | --> |  InvoiceId    |     | GenreId  | -->  | GenreId |
+============+     +=============+     +===============+     +==========+      +=========+
|  FirstName |                                                  
+============+
|  LastName  |                                                              
+============+

After query...

###############################################
#                 CustomerGenre               #   <-----RESULT!
###############################################
|  Email  |  FirstName  |  LastName  | Genre  |
+=========+=============+============+========+
'''

# Q4: Write a query that returns the 1 city that has the highest sum of invoice totals.

In [ ]:
##  Let's throw a promotional Music Festival in the city with the best customers!
##  Which city have you made the most money from?

##  Write a query that returns the 1 city that has the highest sum of invoice totals.
##  Return both the city name and the sum of all invoice totals.


QUERY ='''
SELECT BillingCity, sum(Total)
FROM Invoice
Group by BillingCity
ORDER BY sum(Total) DESC
LIMIT 1
'''

'''
---VISUAL GUIDE---

Before Query...

#######################
#        Invoice      #            <--- FROM 
#######################
| BillingCity | Total |           <--- SELECT 
+-------------+-------+

After Query...

##################################   
#          Invoice               #   <-----  RESULT!
##################################   
|  BillingCity  |  sum(Total)    |
+===============+================+
|   Top City      Total Invoices |
+---------------+----------------+
'''

##  Q5:Write a query that returns the BillingCity,total number of invoices 
##  associated with that particular genre, and the genre Name.

##  Return the top 3 most popular music genres for the city Prague
##  with the highest invoice total (you found this in the previous quiz!)

In [ ]:
##  It would be really helpful to know what type of music everyone likes before 
##  throwing this festival.
##  Lucky for us we've got the data to find out!  
##  We should be able to tell what music people like by figuring out what music they're buying.

##  Write a query that returns the BillingCity,total number of invoices 
##  associated with that particular genre, and the genre Name.

##  Return the top 3 most popular music genres for the city Prague
##  with the highest invoice total (you found this in the previous quiz!)

QUERY ='''
SELECT Invoice.BillingCity, COUNT(*), Genre.Name
From Invoice,InvoiceLine,Track,Genre
WHERE Invoice.InvoiceId = InvoiceLine.InvoiceId
AND InvoiceLine.TrackId = Track.TrackId
AND Track.GenreId = Genre.GenreId
AND Invoice.BillingCity = 'Prague'
GROUP BY Genre.GenreId
ORDER BY COUNT(*) DESC
LIMIT 3
'''

'''
---Visual Guide---

Before Query...

###############       #################       #############      #############
#  Invoice    #       #  InvoiceLine  #       #   Track   #      #   Genre   #
###############       #################       #############      #############
|  InvoiceId  | --->  |  InvoiceId    |       |  GenreId  | ---> |  GenreId  |
+-------------+       +---------------+       +-----------+      +-----------+
|  BillingCity|       |  TrackId      |  ---> |  TrackId  |      |  Name     |  
+-------------+       +---------------+       +-----------+      +-----------+

After Query..

#######################################
#            InvoiceGenre             #
#######################################
|  BillingCity  |  COUNT(*)  |  Name  |
+---------------+------------+--------+

'''

# Q6:write a query that returns the Artist name and total track count of the top 10 rock bands.

In [ ]:
##  Now that we know that our customers love rock music, we can decide which musicians to 
##  invite to play at the concert. 

##  Let's invite the artists who have written the most rock music in our dataset.
##  Write a query that returns the Artist name and total track count of the top 10 rock bands. 


QUERY ='''
SELECT Artist.Name,COUNT(Genre.Name)
From Genre,Track,Album,Artist
WHERE Genre.GenreId = Track.GenreId
AND Track.AlbumId = Album.AlbumId
AND Album.ArtistId = Artist.ArtistId
AND Genre.Name = 'Rock'
GROUP BY Artist.name
ORDER BY COUNT(Genre.Name) DESC
LIMIT 10
'''

'''
---Visual Guide---

Before Query...

#############      #############      #############      ############
#    Genre  #      #   Track   #      #   Album   #      #  Artist  #
#############      #############      #############      ############
|  GenreId  | ---> |  GenreId  |      |  ArtistId  | --->| ArtistId |
+-----------+      +-----------+      +-----------+      +----------+
|  Name     |      |  AlbumId   |---> |  AlbumId  |      |  Name    |
+-----------+      +-----------+      +-----------+      +----------+

After Query...

#######################################
#             GenreArtist             #
#######################################
|  Artist.Name  |  COUNT(Genre.Name)  |
+---------------+---------------------+

'''

# Q7: 


##  What does the alternative punk scene look like throughout French 
##  cities in your dataset?

##  Return the BillingCities in France, followed by the total number of 
##  tracks purchased for Alternative & Punk music.
##  Order your output so that the city with the highest total number of
##  tracks purchased is on top.

In [ ]:


QUERY = '''
SELECT Invoice.BillingCity, COUNT(*)
FROM Invoice,InvoiceLine,Track,Genre
WHERE Invoice.InvoiceId = InvoiceLine.InvoiceId
AND InvoiceLine.TrackId = Track.TrackId
AND Track.GenreId = Genre.GenreId
AND Invoice.BillingCountry = 'France'
AND Genre.Name = 'Alternative & Punk'
GROUP BY Invoice.BillingCity
ORDER BY COUNT(*) DESC

'''


'''
---Visual Guide---

Before Query...

#################       #################       #############      #############
#    Invoice    #       #  InvoiceLine  #       #   Track   #      #   Genre   #
#################       #################       #############      #############
|  InvoiceId    | --->  |  InvoiceId    |       |  GenreId  | ---> |  GenreId  |
+---------------+       +---------------+       +-----------+      +-----------+
|  BillingCity| |       |  TrackId      |  ---> |  TrackId  |      |  Name     |  
+---------------+       +---------------+       +-----------+      +-----------+
| BillingCountry|
+---------------+

After Query..

###############################
#        InvoiceGenre         #
###############################
|  BillingCity  |  NumTracks  |
+---------------+-------------+

'''